<!DOCTYPE html>

<!--<div
  style="width:500px;height:50px;border:1px solid #000;"
  style="background-color:#73CED3"
>
  <p>Recipes Generator</p>
</div>-->

<ul>
  <li><a href="">Recipes Generator - Search by ingredients</a></li>
  <li><a routerLink="all-recipes">All recipes</a></li>
  <li><a href="veg-recipes">Vegetarian recipes</a></li>
</ul>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <div
    style="background-color: #808285"
    class="bottom"
  >
    <p class="bottomfont">Manaëlle BRET | Chiara LACROIX | Yunlu ZHAO</p>
  </div>
</footer>
