<!DOCTYPE html>

<html>
  <h1>
    All recipes :
  </h1>
  <html></html>
</html>

<ul>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
  <li><a href="">aba</a></li>
</ul>
